:root {
    
}

img {
    max-height: 100vh;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

li {
    display: flex;
    flex-direction: column;
}

.body-container {
    display: flex;
    flex-direction: row;
}

.right-content-container {
    display: flex;
    flex-direction: column;
}