:root {
    
}

img {
    max-height: 100vh;
}

li {
    display: flex;
    flex-direction: column;
}

.body-container {
    display: flex;
    flex-direction: row;
}

.right-content-container {
    display: flex;
    flex-direction: column;
}